@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

$fuente: Roboto;
$fondoHeader: rgb(192, 167, 121);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $fuente;
}

body{
    background-color: wheat;
}

@mixin mobile{
    @media (max-width: 430px){
        @content;
    }
}

%flr{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

%flc{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
}

// Animaci칩n

@keyframes scaleUp {
    0%{
        scale: 1;
    }
    100%{
        scale: 1.2;
    }
}

// Placeholder para llamar a la animaci칩n m치s tarde c칩mo @extend
%scaleUp{
    animation: scaleUp 1s forwards ease-in-out;
}

// Animacion para WhatsApp

@keyframes whatsApp {
    0%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(10px);
    }
    100%{
        transform: translateX(0);
    }
}

%mover{
    animation: whatsApp 0.5s infinite ease-in-out;
}