*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: wheat;
}

/* header */

header{
    height: 15vh;
    background-color: rgb(192, 167, 121);
    position: sticky;
    top: 0px;
}

.navbar{
    font-weight: bold;
}

.logo{
    height: 15vh;
    width: auto;
}

nav ul li a{
    border: 2px solid black !important;
    padding: 10px !important;
    /* Se usa el important para pisar estilos de bootstrap */
    border-radius: 15px;
}
nav ul li a:hover{
    background-color: black;
    color: rgb(192, 167, 121) !important;
    /* Se usa el important para pisar estilos de bootstrap */
}

@media (max-width: 425px) {
    header{
        height: auto;
    }
    h1{
        display: none;
    }
    ul{
        flex-wrap: wrap;
        gap: 40px;
        align-items: center;
        justify-content: center;
    }
    nav ul li a{
        padding: 10px;
    }
}

/* footer */

footer{
    height: 15vh;
    padding: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.rrss{
    height: 8vh;
    width: auto;
    margin: 10px 15px;
}

.whatsapp{
    height: 8vh;
    width: auto;
    position: fixed;
    bottom: 50px;
    right: 50px;
}

@media (max-width: 425px){
    footer{
        flex-wrap: wrap;
        gap: 15px;
    }
}

/* home */

.main-home{
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.main-home h2{
    padding: 0 15px;
    text-align: center;
}

.cafes{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 30px;
}

.cafes article{
    display: flex;
    flex-direction: column;
    width: 45vw;
    align-items: center;
    margin: 10px;
    padding: 15px;
    border: 2px solid black;
    border-radius: 30px;
}

.cafes article p{
    margin-top: 20px;
}

.img-home{
    height: 40vh;
    width: auto;
}

@media (max-width: 425px){
    .cafes{
        flex-direction: column;
    }
    .cafes article{
        margin: 15px 0;
        padding: 15px 10px;
        width: 90vw;
    }
    .img-home{
        height: 30vh;
        width: 80vw;
        object-fit: contain;
    }
    .cafes article p{
        margin-top: 10px;
    }
}

/* Galería */

.main-gal{
    height: auto;
    padding: 15px;
    display: grid;
    grid-template-areas:
    "title title title"
    "cv coffee ch"
    "cv coffee ch"
    "cm c3 c3"
    "cg cg cg"
    ;
    gap: 25px;
    justify-items: center;
    align-items: center;
}

.main-gal img{
    border-radius: 10px;
}

.main-gal h2{
    font-size: 2rem;
    grid-area: title;
}

.sack-coffee-v{
    grid-area: cv;
    height: 40vh;
    width: auto;
}

.sack-coffee-h{
    grid-area: ch;
    height: 40vh;
    width: auto;
}

.coffee-mixer{
    grid-area: cm;
    height: 40vh;
    width: auto;
}

.coffee-grains-v{
    grid-area: coffee;
    height: 40vh;
    width: auto;
}

.coffee-grains-h{
    grid-area: cg;
    width: 70vw;
    height: auto;
}

.coffee-third{
    grid-area: c3;
    width: auto;
    height: 50vh;
}

@media (max-width: 425px){
    .main-gal{
        grid-template-areas:
        "cv"
        "ch"
        "cm"
        "coffee"
        "cg"
        "c3"
        /* "cv cv" "ch ch" "cm coffee" "cg cg" "c3 c3" */
        ;
    }
    .coffee-third, .coffee-grains-h, .sack-coffee-h{
        height: auto;
        width: 90vw;
    }
    .coffee-mixer, .coffee-grains-v{
        height: 35vh;
        width: auto;
    }
    .main-gal h2{
        display: none;
    }
}

/* Tienda */

.main-store{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-store section{
    width: 95vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px 0;
}

.main-store section article{
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 4px solid chocolate;
    border-radius: 30px;
    padding: 10px;
}

.main-store section article p{
    padding: 5px;
    text-align: center;
}

.main-store h3{
    font-size: 1.5rem;
    margin: 10px 0;
}

.main-store section img{
    width: 20vw;
    height: auto;
    border-radius: 50px;
    margin-bottom: 10px;
}

@media (max-width: 425px) {
    .main-store section{
        flex-direction: column;
        gap: 15px;
    }
    .main-store section article{
        width: auto;
    }
    .main-store section img{
        width: 60vw;
    }
}

/* Sobre Nosotros */

.main-us{
    padding: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.baristas{
    width: 45vw;
    height: auto;
}

.main-us section{
    width: 45vw;
}

.main-us section h2{
    margin-bottom: 20px;
}

@media (max-width: 425px){
    .main-us{
        flex-direction: column;
    }
    .main-us section, .baristas{
        width: 90vw;
    }
    .baristas{
        margin-bottom: 15px;
    }
}

/* Contacto */

.main-contacto{
    display: flex;
    justify-content: space-around;
}

.main-contacto form{
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 45vw;
    align-items: center;
    border: 2px black solid;
    border-radius: 15px;
}

.main-contacto section{
    padding: 15px;
    width: 45vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 2px black solid;
    border-radius: 15px;
}

input{
    height: 5vh;
    width: 20vw;
}

textarea{
    width: 30vw;
    height: 15vh;
}

iframe{
    width: 40vw;
    height: 50vh;
}

@media (max-width: 425px){
    .main-contacto{
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .main-contacto form, .main-contacto section{
        width: 90vw;
    }
    .main-contacto h2{
        font-size: 2rem;
        margin-bottom: 15px;
    }
    .main-contacto label{
        font-size: 1.5rem;
        font-weight: bold;
    }
    input{
        width: 60vw;
    }
    textarea{
        height: 20vh;
        width: 80vw;
    }
    iframe{
        width: 75vw;
    }
}